* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background: #F6F7FB;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */

.sidebar {
  width: 260px;
  background: white;
  padding: 20px;
  border-right: 1px solid #E5E7EB;
}

.logo h2 {
  color: #01F0D0;
  font-size: 28px;
  margin-bottom: 40px;
}

.patients-title {
  margin-bottom: 20px;
}

.patient {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 12px;
  background: #D8FCF7;
}

.patient img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.patient h4 {
  font-size: 15px;
}

.patient p {
  font-size: 13px;
  color: gray;
}

/* Main */

.main-content {
  flex: 1;
  padding: 25px;
}

.header {
  margin-bottom: 25px;
}

.header h2 {
  font-size: 28px;
}

/* Top Section */

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

/* Chart */

.chart-container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  height: 420px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Profile */

.profile-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-card h2 {
  margin-bottom: 25px;
}

.info {
  text-align: left;
  margin-bottom: 15px;
}

.info p {
  font-size: 14px;
  color: gray;
}

.info span {
  font-size: 15px;
  font-weight: 600;
}

/* Stats */

.stats-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card {
  padding: 25px;
  border-radius: 20px;
}

.respiratory {
  background: #E0F3FA;
}

.temperature {
  background: #FFE6E9;
}

.heart {
  background: #FFE6F1;
}

.stat-card h4 {
  margin-bottom: 10px;
}

.stat-card h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Diagnostic */

.diagnostic-section,
.lab-section {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.section-header {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  background: #F7F8FC;
  padding: 15px;
  font-size: 14px;
}

table td {
  padding: 15px;
  border-bottom: 1px solid #ECECEC;
  font-size: 14px;
}

#labResults {
  list-style: none;
}

#labResults li {
  padding: 14px 0;
  border-bottom: 1px solid #ECECEC;
}

/* Responsive */

@media(max-width: 1000px) {

  .top-section {
    grid-template-columns: 1fr;
  }

  .stats-section {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

}